body {
  user-select: none;
}

/* Navbar */
.navbar {
  display: none;
}

.logo img {
  width: 50px;
  margin-left: 10px;
}

.branding {
  font-size: 1.5em;
}

.navbar-2 {
  display: flex;
  width: auto;
  margin-left: 15px;
  height: 50px;
}

.nav-wrap {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: -1rem;
}

.navbar-2 .nav-wrap li {
  list-style-type: none;
}

.navbar-2 .nav-wrap li a {
  color: white;
  filter: brightness(80%);
}

.navbar-2 .nav-wrap li a:hover {
  color: white;
  filter: brightness(100%);
  transition: 0.3s ease-in-out;
}
/* navbar */

.font-txt {
  align-items: center;
  text-align: center;
}

.font-txt a {
  text-decoration: none;
}

.home {
  width: 100%;
  height: 100vh;
  margin-bottom: 150px;
}

.hero-image {
  width: 100%;
  height: 70vh;
  background: url("foto batara.jpg");
  background-position: center;
  background-size: cover;
}

.hero-title {
  padding: 35px 10px 0px 10px;
  font-size: 50px;
}

.desc-title {
  padding: 0px 20px 30px 10px;
  text-align: justify;
}

.button-title {
  margin-left: 10px;
  border: 3px solid #0d6efd;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
}

.button-title:hover {
  background-color: #0d6efd;
  border: none;
  color: white;
  padding: 13px 23px;
}

.kegiatan {
  background-color: #0d6efd;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.title-kegiatan {
  padding-bottom: 50px;
}

.card {
  padding-bottom: 20px;
  margin-bottom: 15px;
  width: 40%;
}

.p-kegiatan {
  text-align: justify;
  padding: 5px 30px;
}

.tentang {
  margin-bottom: 60vh;
}

.pendaftaran {
  background-color: #0d6efd;
  padding-top: 25px;
}

/* .pendaftaran h5 {
  margin-left: 10px;
} */

.form-action {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  width: 100%;
}

.leftside {
  width: 60%;
  margin-left: 10px;
  margin-right: 10px;
}

.input-type {
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}

.alamat {
  display: flex;
  gap: 1rem;
  margin-bottom: 10px;
}

.alamat-alamat {
  width: 69%;
}

.input-type-alamat {
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
}

.input-sh {
  width: 45px;
  border: none;
  padding: 5px 10px;
}

.submit-input {
  width: 100%;
  background-color: #0d6efd;
  border: 3px solid white;
  color: white;
  border-radius: 30px;
  margin-top: 30px;
  padding: 10px 0px;
}

.submit-input:hover {
  font-size: 18px;
}

.rightside {
  width: 40%;
  margin: 0px 10px;
}

.card2-container {
  display: flex;
}

.card-medsos {
  width: 10rem;
  height: 15rem;
  background-color: white;
  border-radius: 5px;
}

.medsos-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.img1 {
  width: 100%;
  height: 50%;
  background-position: center;
  background-size: cover;
}

.img2 {
  width: 100%;
  height: 50%;
  background-position: center;
  background-size: cover;
}

.link-link {
  width: 100%;
  text-align: center;
}

.medsos-link {
  background-color: #0d6efd;
  text-decoration: none;
  color: white;
  padding: 5px 30px;
  text-align: center;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .navbar {
    justify-content: space-evenly;
  }

  .navbar-2 {
    display: flex;
    width: 70%;
    justify-items: start;
  }

  .nav-wrap {
    display: flex;
    margin-left: -50px;
    align-items: center;
  }

  .logo img {
    width: 50px;
  }

  .branding {
    display: none;
  }

  .nav-link {
    font-size: 12px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: 90%;
  }

  .form-action {
    display: flex;
    flex-wrap: wrap;
  }

  .leftside {
    width: 100%;
  }

  .alamat {
    flex-wrap: wrap;
  }
  .alamat-alamat {
    width: 100%;
  }

  .input-type {
    width: 100%;
  }

  .submit-input {
    width: 100%;
  }

  .rightside {
    padding-top: 20px;
    width: 100%;
  }

  .card2-container {
    width: 100%;
    gap: 1rem;
  }
}
